.text-link {
    color: #197ed1;
    cursor: pointer;
    user-select: none;
}
.text-link:hover {
    text-decoration: underline;
}

.user-select-none {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
